* {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;

}

body {
    background-color: rgb(0, 0, 0.5);
}

.btn_div {
    margin-top: 250px;
    text-align: center;
}

.login_btn {
    font-size: 20px;
    padding: 8px 20px;
    border: 2px solid rgb(7, 109, 226);
    color: rgb(7, 109, 226);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.and_btn {
    border: 2px solid #008CBA;
    color: #008CBA;
    transition: all .4s;
    font-size: 15px;
    margin-left: 150px;
}

.and_btn:hover {
    color: #fff;
    background-color: #026180;

}


.popup {
    height: 200px;
    width: 250px;
    background-color: #fff;
    padding: 40px;
    border: 4px solid rgb(21, 14, 94);
    border-radius: 10px;
    /* text-align: center; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all .2s;
}

.popup-opan {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);

}

.menu_input {
    margin-bottom: 20px;

}

.menu_input label {
    font-size: 20px;
    color: #555;
}

.menu_input input {
    padding: 10px 20px;
    width: 200px;
    font-size: 12px;
    border: 2px solid #444;
    border-radius: 5px;
    /* margin: 5px auto; */
}

.thank {
    position: relative;
    height: 260px;
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all .4s;
}

.thank-opan {
    bottom: 0%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 9;
}

.image {
    height: 150px;
    width: auto;
    margin-top: -110px;
}

.thank p {
    font-size: 13px;
    color: #444;
    line-height: 18px;
    word-spacing: 10px;
}

.thank h4 {
    font-size: 30px;
    color: #445;
    margin-top: 40px;
}

.wrong {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: auto;

}